@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set bg color and margins */
:root {
  --background: #F9F8FD;
  --foreground: #191F2D;
  --highlight: #CBC5EA;
  --highlight-light: #E5E2F5;
  --highlight-dark: #3b098a;
}

html {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
